@media(max-width: 685px){
      .pal {
         width: 250px !important;
         height: 300px !important;
         border-radius: 8px !important;
    } 
}
@media(max-width: 800px){
      .pal {
         width: 300px !important;
         height: 350px !important;
         border-radius: 8px !important;
    } 
}
@media(max-width: 838px){
    .top_nav{
        padding: 0;
        font-size: 15px !important;
    }
}
@media(max-width: 735px){
    span.out{
        display: none;
    }
    .apak{
        font-size: 20px !important;
    }
}
@media(max-width: 796px)
{
    .land_content h1{ 
           margin-bottom: 2rem !important;
        font-size: 24px !important;
     }
    .top_nav, .second_order{
        font-size: 14px !important;
    }
    
/*    icons for login and sign up display here*/
}
@media(max-width: 664px){
    .modified-y{
        display: none;
    }
}
@media(max-width: 600px)
{
    .land_content h1{ 
           margin-bottom: 2rem !important;
           font-size: 16px !important;
     }
    footer, aside,.acttopple{
         font-size: 11px !important;
    }
    .about, .about_img {
        width: 400px;
        height: 250px;
   }
    .title{
        padding: 0  1rem;
   }
    .btn{
    
    }
    .res{
        font-size: 12px;
    }
    
}